<h3>List</h3>

@if (this.AllApplicationUsers != null)
{
    <ul class="list-group">
        @foreach (var singleApplicationUser in this.AllApplicationUsers)
       {
           <li class="list-group-item">
               @nameof(singleApplicationUser.Name):@singleApplicationUser.Name<br>
               @nameof(singleApplicationUser.Lastname):@singleApplicationUser.Lastname<br>
               @nameof(singleApplicationUser.Email):@singleApplicationUser.Email<br>
               @nameof(singleApplicationUser.BirthDate):@singleApplicationUser.BirthDate<br>
           </li>
       }
    </ul>
}