@page "/Company/Create"
<h3>Company</h3>
<LoadingIndicator IsLoading="IsLoading"></LoadingIndicator>
<EditForm Model="@this.Model" OnValidSubmit="OnValidSubmitAsync">
<div class="mb-3">
<DataAnnotationsValidator></DataAnnotationsValidator>
<ValidationSummary></ValidationSummary>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.Name)</label>
<InputText class="form-control" @bind-Value="Model.Name"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.Country)</label>
<InputText class="form-control" @bind-Value="Model.Country"/>
</div>
<div class="mb-3">
<label class="form-label">@nameof(Model.NumberOfEmployees)</label>
<InputNumber class="form-control" @bind-Value="Model.NumberOfEmployees"/>
</div>
<div class="mb-3">
<button class="btn btn-primary" type="submit">Submit</button>
</div>
</EditForm>
