<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
    @foreach (var singleMenuItem in MenuItems)
    {
        <div class="col">
            <button type="button" class="btn btn-info rounded-circle"
                @onclick="@( () => NavigateToListPageForEntity(singleMenuItem.Title))"
                data-bs-toggle="tooltip" data-bs-placement="top"
                title="@singleMenuItem.Title">
                <i class="@singleMenuItem.CssClass" style="font-size:large"></i>
            </button>
        </div>
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public DynamicMenuModel[] MenuItems { get; set; }
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void NavigateToListPageForEntity(string entityName)
    {
        this.NavigationManager.NavigateTo($"/{entityName}/List");
    }
}
